*,
::after,
::before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 24px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: 1.45;
  text-align: left;
  background-color: var(--background-color);
  font-family: var(--main-font);
  color: var(--text-color);
}

section {
  display: block;
}

p {
  font-size: 0.83rem;
  margin-top: 0;
  margin-bottom: 0.75rem;

  @mixin atXSmall {
    font-size: 1rem;
  }
}

/* @media (min-width: 372px) {
  p {
    font-size: 1rem;
  }
} */

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;

  list-style-type: square;
}

li {
  /* font-size: 0.75rem;
  list-style: none;
  margin-left: -1.6rem;  */

  font-size: 0.8rem;
  color: var(--highlight-color);
}

.li-text {
  color: var(--text-color);
}

/* li::before {
  content: "\25A0 ";
  font-size: 0.75rem;
  color: var(--highlight-color);
  display: inline-block;
  width: 0.6rem;
} */

/* @media (min-width:372px) {
  li {
    font-size: 0.83rem;
  }
} */

/* @media (min-width:576px) {
  li::before {
    font-size: 1rem;
  }
} */

strong {
  font-weight: bolder;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.33rem;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-size: 3.33rem;
  line-height: 0.9;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  margin-top: 2rem;
  padding-top: 0.66rem;
  font-size: 1.66rem;
  line-height: 1;
}

@media (min-width: 576px) {
  h3 {
    font-size: 2rem;
    margin-top: 2.5rem;
  }
}

h4 {
  font-size: 1rem;
}

@media (min-width: 372px) {
  h4 {
    font-size: 1.15rem;
  }
}

a {
  color: var(--highlight-color);
  font-weight: bolder;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

a:after {
  width: 0%;
  height: 2px;
  background: var(--highlight-color);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover:after {
  width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
