*,
::after,
::before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 24px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: 1.45;
  text-align: left;
  background-color: var(--background-color);
  font-family: var(--main-font);
  color: var(--text-color);
}

section {
  display: block;
  margin-top: 2em;

  &:first-child {
    margin-top: 0;
  }

  & p:last-child {
    margin-bottom: 0;
  }
}

p {
  font-size: 0.83rem;
  margin-top: 0;
  margin-bottom: 0.75rem;

  @mixin atXSmall {
    font-size: 1rem;
  }
}

strong {
  font-weight: bolder;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 1rem;
  list-style-type: square;
}

li {
  font-size: 0.8rem;
  color: var(--highlight-color);
}

.liText {
  color: var(--text-color);
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.33rem;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-size: 3.33rem;
  line-height: 0.9;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  padding-top: 0.66rem;
  font-size: 1.66rem;
  line-height: 1;

  @mixin atSmall {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1rem;

  @mixin atXSmall {
    font-size: 1.15rem;
  }
}

a {
  color: var(--highlight-color);
  font-weight: bolder;
  text-decoration: none;
  position: relative;
  cursor: pointer;

  &:after {
    width: 0%;
    height: 2px;
    background: var(--highlight-color);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: var(--highlight-color);
    text-decoration: none;
  }

  &:hover:after {
    width: 100%;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @mixin atSmall {
    max-width: 540px;
  }

  @mixin atMedium {
    max-width: 720px;
  }

  @mixin atLarge {
    max-width: 960px;
  }

  @mixin atXLarge {
    max-width: 1140px;
  }
}

div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

div::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

div::-webkit-scrollbar-thumb {
  background: #707070;
}

div::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}

div::-webkit-scrollbar-thumb:active {
  background: var(--highlight-color);
}

div::-webkit-scrollbar-track {
  background: var(--background-color);
}

div::-webkit-scrollbar-corner {
  background: 0 0;
}
